html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  font-family: "Medula One", cursive;
  font-size: 3em;
  color: rgb(50, 100, 50);
}
